* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  outline: 0;
}
:root {
  --main-background-color: #1f2641;
  --secondary-background-color: #2e3267;
  --main-padding-top: 50px;
}
body {
  font-family: "Courier New", Courier, monospace;
  line-height: 1.7;
  scroll-behavior: smooth;
  font-weight: normal;
}
li {
  list-style: none;
}
li a {
  text-decoration: none;
}
a{
  color: white !important;
  text-decoration: none !important;
}
.container {
  padding-right: 20px;
  padding-left: 20px;
  margin-right: auto;
  margin-left: auto;
}
/* Standard button */
button.btn {
  padding: 1rem 2rem;
  border: 2px solid transparent;
  font-weight: 500;
  background: #f75842;
  color: white;
}
button.btn:hover {
  background: transparent;
  border: 2px solid white;
  color: white;
}
/* end global roots  */
/* start nav section */
nav {
    /* position: fixed;
  top: 0;
  z-index: 11; */
    /* width: 100vw; */
  background: var(--secondary-background-color);
  height: 4rem;
}
.nav-container {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
nav img{
  width: 100px;
}
nav button {
  display: none;
}
.nav-menu {
  display: flex;
  align-items: center;
  gap: 4rem;
}
.nav-menu a {
  font-size: 0.9rem;
  color: white;
}
.container h4 {
  color: white;
}
.nav-menu a:hover {
  color: #98caec !important;
}
/* end nav section */
.home {
  padding: 30px;
  background-color: var(--main-background-color);
}
.home .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.home .text {
  color: white;
  padding-right: 30px;
}
.home .image img {
  width: 50vw;
  height: 75vh;
}
.home .text h1 {
  padding-bottom: 10px;
}
.home .text p {
  padding-bottom: 30px;
}
.home button.btn {
  background: #f75842;
  color: white;
}
.home button.btn:hover {
  background: transparent;
  border: 2px solid white;
  color: white;
}
/* end home section */

/* start Category */
.categories {
  background-color: #2e3267;
  padding-top: 125px;
  height: 32rem;
}
.categories .container {
  display: grid;
  grid-template-columns: 40% 60%;
}
.categories .text {
  color: white;
  padding-right: 30px;
}
.categories .text h1 {
  padding-bottom: 10px;
}
.categories .text p {
  padding-bottom: 60px;
}
.categories button {
  background-color: white;
  border: transparent;
  color: var(--main-background-color);
}
.categories button:hover {
  background: transparent;
  border: 2px solid white;
}
.categories .category-box {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1.2rem;
  color: white;
}
.categories .category-box .category:hover {
  box-shadow: 0 3rem 3rem rgba(0, 0, 0, 0.1);
  z-index: 1;
}

.categories .category-box .category {
  padding: 2px;
  background-color: #4248904d;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 10px;
}
.categories_icons {
  background: var(--secondary-background-color);
  padding: 0.7rem;
  border-radius: 0.9rem;
}
.categories .category-box .category p {
  padding: 10px;
  margin: 1rem 0 3rem;
}
.categories .category-box .category h5 {
  padding-top: 1rem;
}
.category:nth-child(2) .categories_icons {
  background: #f75842;
}
.category:nth-child(3) .categories_icons {
  background: #00bf8e;
}
.category:nth-child(4) .categories_icons {
  background: #f7c94b;
}
.category:nth-child(5) .categories_icons {
  background: #00bf8e;
}
/* end Category section*/

/* start popular course */
.courses {
  background-color: var(--main-background-color);
  padding-top: var(--main-padding-top);
}
.courses .text {
  font-size: 30px;
  padding-top: 15%;
}
.row {
  padding-top: 5%;
}
.card-body {
  background-color: var(--secondary-background-color);
  outline: 0;
}
.card-body:hover {
  background: var(--main-background-color);
  border: 1px solid var(--secondary-background-color);
  transition: all 0.3s ease-out;
}
.card-body h5 {
  font-weight: bold;
  padding-bottom: 1rem;
  padding-top: 1rem;
}
.card-body p {
  padding-bottom: 1rem;
}
/* end popular course */
/* start questions section */

.faqs{
  background: var(--main-background-color);
  box-shadow: inset 0 0 3rem rgba(0,0,0,0.5)
}
.faqs_container{
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
}
.faq{
  padding: 2rem;
  display: flex;
  align-items: center;
  gap: 1.4rem;
  height: fit-content;
  background: var(--secondary-background-color);
  cursor: pointer;
}
.faq h4{
  font-size: 1rem;
  line-height: 2.2rem;
  color: white;
}
.faq_icon{
  align-self: flex-start;
  font-size: 1.2rem;
  color: white;
}
.faq p{
  margin-top: 0.8rem;
  display: none;
  color: white;
}

.faq.open p{
  display: block;
}
/* end questions section */
/* start Student's Testimonials section */
.testimonials_container{
  background-color: var(--main-background-color);
  overflow-x: hidden;
  position: relative;
  
}
.testimonial{
  padding-top: 2rem;
  padding-bottom: 5rem;   
}
.testimonial h5,
.testimonial small{
  color: white;
}
.avatar{
  width: 6rem;
  height: 6rem;
  border-radius: 50%;
  overflow: hidden;
  margin: -8px auto -1rem;
  border: 1rem solid var(--main-background-color);
}
.testimonials_info{
  text-align: center;
}
.testimonial_body{
  background: var(--secondary-background-color);
  padding: 2rem;
  margin-top: 3rem;
  position: relative;
}
.testimonial_body::before{
  position: absolute;
  content: "";
  display: block;
  background: linear-gradient(135deg,transparent,var(--secondary-background-color),var(--secondary-background-color),var(--secondary-background-color));
  width: 3rem;
  height: 3rem;
  left: 50%;
  top: -1.5rem;
  transform: rotate(45deg);
}
/* end Student's Testimonials section */
/* start footer */
footer {
  background-color: var(--secondary-background-color);
  color: white;
  padding: 2rem;
}
.footer {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  line-height: 2;
}
.footer a {
  color: white;
}
.footer a:hover {
  color: #00bf8e;
}

.footer_socials ul {
  display: flex;
  align-items: center;
  padding: 5px;
}
.footer_socials i {
  padding: 10px 5px;
  font-size: 25px;
}
.footer_socials i:hover {
  color: #00bf8e;
}
.footer_copyright {
  text-align: center;
  margin-top: 4rem;
  padding: 1.2rem 0;
  border-top: 1px solid white;
}

/* end footer */
/* up button */
.up {
  position: fixed;
  bottom: 10px;
  right: -50px;
  background-color: white;
  color: #f75842;
  font-weight: bold;
  font-size: 20px;
  padding: 10px;
  border-radius: 50px;
  font-family: Arial, Tahoma;
  cursor: pointer;
  transition: 0.2s;
}
.up.show {
  right: 10px;
}
